name: Deploy

on:
  push:
    branches: [ master ]
    paths:
      - 'otp-doc/**'
      - 'docs.sh'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    - name: Setup Racket
      uses: Bogdanp/setup-racket@v0.13
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: 'CS'
        version: '7.9'
        packages: 'crypto'
    - name: Build package
      run: raco pkg install --auto otp/ otp-lib/ otp-doc/
    - name: Deploy documentation
      run: ./docs.sh otp-doc otp ${{ secrets.GITHUB_TOKEN }}
